@use "sass:map";
@import "style/pages/theme";

.banner-left
{
    flex: 0 0 60%;
    max-width: 60%;
    background-color: map.get($theme-color, "banner");
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 30px;
    box-sizing: border-box;
}
.banner-right
{
    flex: 0 0 40%;
    max-width: 40%;
    // background-image: url(${process.env.PUBLIC_URL}/logo.png);
    background-color: map.get($theme-color, "main");
}