@use "sass:map";
@import "style/pages/theme";

.product-image
{
    display: flex;
    flex: 0 0 40%;
    margin: 2%;
    width: 40%;
}
.Product-dis
{

    border: 1px;
    border-color: map.get($theme-color, "main");
    border-style: groove;
    margin: 2%;
    padding: 20px;

}
.Product-info
{

    flex: 0 0 47%;
    margin: 2%;
    padding: 5px;
    p{
        font-weight: 2px;
        padding: 2px;
        font-size: 20px;
    }
    #p-name
    {
        font-size:2em;
        font-weight: bolder;
        padding-bottom: 20px;
    }

}
.table
{

    flex: 0 0 47%;
    margin-top: 5%;
    padding: 5%;
    border: 2px;
    font-size: 16px;
    border-color: rgba(128, 128, 128, 0.445);
    border-style: groove;
    a
    {
        font-size: 14px;
        display: inline-block;
        color: map.get($theme-color, "content");
        text-decoration: none;
    }
    a:hover{
        color: map.get($theme-color, "content-hover");
    }

}
.icon-buy
{
    font-size: 25px;
    //margin-bottom: 10px;
    margin-left: 10px;
}
.button
{
        display: flex;
        flex: 0 0 47%;
        min-width: 150px;
        height: 50px;
        border: none;
        border-radius: 4px;
        background-color: map.get($theme-color, "content-hover");
        color: white;
        font-size: 14px;
        font-weight: 600;
        outline: none;
        margin-left: 5%;
        margin-top: 40px;
        padding: 5%;
}
.button:hover {
    background-color: map.get($theme-color, "main");
}