@use "sass:map";
@import "style/pages/theme";

.product {
    width: 200px;
    height: 250px;
    margin: 10px;
    border: 1px;
    border-color: map.get($theme-color, "main");
    border-style: groove;
  
    .product-img {
      width: 90%;
      height: 60%;
      margin: 5%;
    }
    a
    {
        font-size: 14px;
        display: inline-block;
        color: map.get($theme-color, "content");
        text-decoration: none;
    }
  }