@use "sass:map";
@import "style/pages/theme";

.cart
{
    padding-right: 50px;
    text-indent: 30px;
}
.cart-left {
  padding-top: 10px;
  background: rgba(3, 140, 127, 0.5);
  display: grid;

  p {
    padding-left: 10%;
    padding-bottom: 10px;
  }

  box-sizing: border-box;
  }

.cart-right {
  padding-top: 10px;
  //display: grid;

  p {
    padding-left: 40px;
    padding-bottom: 10px;
  }

  box-sizing: border-box;
  }
.cartLeft
{
  flex: 0 0 60%;
  max-width: 60%;
  border: 3px;
  border-color: rgb(201, 199, 199);
  padding: 2%;
  border-style: solid;
  margin: 2%;
  margin-right: 0;
  box-sizing: border-box;
}
.cartRight
{
  flex: 0 0 35%;
  max-width: 35%;
  border: 3px;
  border-color: rgb(201, 199, 199);
  padding: 2%;
  border-style: solid;
  margin: 2%;
  margin-right: 0;
  box-sizing: border-box;
}
.dir
{
  margin-left: 20px;
  color: map.get($theme-color, "content") !important;
  text-decoration: none !important;
}
